.container {
    margin: 15px;
}
.infoDisplay {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.header {
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
.top {
    background-color: rgb(197, 242, 255);
    padding: 15px;
}
